/* reset + font*/
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* debug */
.debug{
    border: 1px dashed fuchsia;
}

/* Regole Comuni */
.disp-inblck{
    display: inline-block;
}
.disp-flex{
    display: flex;
}
a{
    text-decoration: none;
    color: #7d7f84;
}

body{
    overflow: hidden;
}

/* nav laterale */

.container-aside{
   width: 200px;
   /* height: calc(100% - 100px);
   da mettere min height poi  */
}
.color-g{
    color: #7d7f84;
}


/* CTA Button */
.container-cta-upgrade{
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 20;
    background-color: #080b1294;
    display: flex;
    justify-content: right;
    align-items: center;
    
    
}

.container-cta-upgrade a{
    color: white; 
    border: 3px solid white;
    border-radius: 20px;
    padding: 10px 20px;
}

/* lista superiore */
.lista-superiore ul{
    list-style: none;
    
    
}

.lista-superiore{
    text-align: center;
}

.lista-superiore li{
    display: inline-block;
    margin: 0 10px;
}




/* main */
.container-upgrade-e-main{
    width: calc(100% - 200px);
    height: calc(100vh - 100px);
    color: white;
    background-color: #141922;
    
    
    
}

.container-main{
    height: calc(100% - 100px);
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 20px;
    scroll-margin-top: 400px;
    
}



.container-main p{
    font-size: 1.6em;
}

/* cards */
.container-cards{
    width: 100%;
    margin: 10px;
    text-align: center;
    justify-content: space-between;
    
}

.card{
    width: calc((100% / 6) - 10px);
    
}

.img-card{
    width: 100%;
    
}

.img-card img{
    width: 100%;
    
    object-fit: contain; 
    
}

.circle-img{
    clip-path: circle();
}

.titolo-card{
    font-weight: bolder;
    margin-top: 20px;
}

.sottotitolo-card{
    margin-top: 10px;
}

/* seconda riga  */
.container-cards2{
    width: 100%;
    margin: 10px;
    text-align: center;
    margin-top: 20px;
    
}
.card-fila2{
    width: calc((100% / 6) - 10px);
    margin-right: 10px;
}




/* player */
.container-player{
    height: 100px;
    width: 100%;  
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 30;
    background-color: #282828;
    color: white;
    justify-content: space-between;
    

}

.container-sinistro{
    height: 100%;
    align-items: center;
    
}
.icona-titolo{
    height: 100%;
    align-items: center;
}

.img-icona{
    height: 70px;
    width: 70px;
    padding-left: 20px;
}

.img-icona img{
    width: 100%;
}
.titolo-canzone{
    font-size: 14px;
    margin-left: 10px;
}
.titolo-canzone :first-child{
    margin-bottom: 5px;
}

.like-cartella{
    margin: 0 10px;
}

/* player centrale */

.container-centrale{
    justify-content: center;
    flex-direction: column;
    width: 600px;
}

.marg10{
    margin: 0 10px;
}
.icone-player{
    height: 60px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.fa-play{
    margin: 0 30px;
    padding: 10px 12px;
    border: 2px solid white;
    border-radius: 50%;
}

.container-progress-bar{
    height: 40px;
    justify-content: center;
    align-items: center;
}
#progress-line{
    width: 400px;
    margin: 0 30px;
    
}
/* volume destro */
.container-destro{
    justify-content: right;
    align-items: center;

}
.volume-player progress{
    width: 55%;
    margin-left: 10px;
}